########## Ignored directories ##########
output/*
temp/*
log/
build/visualStudio/temp/

ipch

unit-tests.log

########## Ignored file types ##########
*.obj
*.exe
*.dll
*.o
*.ilk
*.exp
*.*sdf
*.suo

CMakeLists.txt

########## LaTeX stuff ##########
*.aux
*.toc
*.synctex.gz

########## Documentation specific stuff ##########
documents/documentation/*.pdf
documents/documentation/*.log
